.warn-text {
    color: red;
    animation: blinker-text 1s linear infinite;
}
@keyframes blinker-text {
    50% {
        opacity: 0;
    }
}

.warn-page {
    animation: blinker-page 2s ease-in-out infinite;
}
@keyframes blinker-page {
    50% {
        background-color: #F44;
        box-shadow: 0 0 20px #F44;
    }
}

.blink-alert-glow {
    animation: blinker-glow 1s ease-in-out infinite alternate;
}
@keyframes blinker-glow {
    from {
        box-shadow: 0 0 5px #F09;
    }
    to {
        box-shadow: 0 0 20px #F09;
    }
}


// Overrides 

.input-group {
    flex-wrap: nowrap;
}

.cr-header {
    justify-content: space-between;
    &__nav-right {
        margin-left: unset;
    }

    margin-bottom: 0;
}
.cr-page {
    padding-top: .5rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > *           {margin: 0 5px;}
    >:first-child {margin-left: 0;}
    >:last-child  {margin-right: 0;}
}

.spinner-border {
    font-size: 1rem;
    vertical-align: middle;
}

.card-body > .spinner-border {
    width: 5rem;
    height: 5rem;
}